/*Mobile*/

@media all and (max-width:767px)
{
    .nav
    {
        flex-direction: column;
    }
    /*.research_section .infos i
    {
        width: 80px;
        height: 40px;
    }*/
    .research_section .filters ul
    {
        padding: 0 18% 0 0;
    }
    .card_container_large img
    {
        height: 140px;
    }.card_container_large a
    {
        width: 100%;
    }
    .title_container_large 
    {
        padding: 0;
        margin: 5% 0% 5% 5%;
    }
    .split_small .title_container_small 
    {
        padding: 0;
        margin: 5% 2% 5% 8%;
    }
    .card_container_small a
    {
        width: 100%;
    }
    .card_container_small img
    {
        max-height: 160px;
        min-width: 30%;
    }
    .card_container_small .description h4 
    {
        margin: 5px 0 -30px 0;
    }
    .card_container_small .description p 
    {
        margin: 0;
    }
    .card_container_small .stars 
    {
        margin: 1%;
    }
    .bot_section .container_bot
    {
        margin-bottom: 50px
    }
    
    
}